In [8]:
import pandas as pd
import numpy as np
import os

In [9]:
path = 'weather_data'
files= os.listdir(path)

In [10]:
lst = []
index = 1
for name in files:
    print(index)
    lst.append(pd.read_csv(os.path.join(path,name),sep=';'))
    index += 1
df = pd.concat(lst)
df = df.sort_values(by=['Year','Month','Day'],ascending=True).reset_index().drop(['index'],axis = 1)

1
2
3
4
5
6
7
8
9
10
11
12
13

In [11]:
df

,Year,Month,Day,Hour,TMP,WNDCHILL,DPT,WNDCARD,WNDSPD,WNDMEAN,WNDGUST,HR,PRMSL,VISIBILITY,TCDC,RAIN,COND,"COND,,,"
0,2013,11,1,00:00,8.7,8.1,6.1,N,5.6,7.4,13.0,84,1024.2,--,--,"0/1h, 0/6h,",--,NaN
1,2013,11,1,01:00,8.5,7.9,5.7,NNE,5.6,5.6,9.3,83,1023.9,--,--,"0/1h,",--,NaN
2,2013,11,1,02:00,8.2,7.5,5.6,NNE,5.6,--,--,84,1023.6,--,--,--,--,NaN
3,2013,11,1,03:00,8.1,7.4,5.8,NNE,5.6,--,--,85,1023.3,--,--,--,--,NaN
4,2013,11,1,04:00,8.2,7.5,6.0,NE,5.6,--,--,86,1022.9,--,--,--,--,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56271,2020,4,14,09:00,10,10,1.3,NE,3.7,--,40.7,55,1018.4,--,--,"0/1h,",NaN,"--,,"
56272,2020,4,14,10:00,11.7,11.1,1.7,ENE,7.4,--,31.5,50,1017.9,--,--,"0/1h,",NaN,"--,,"
56273,2020,4,14,11:00,13,11.4,1.8,NNE,16.7,--,40.7,46,1017.1,--,--,"0/1h,",NaN,"--,,"
56274,2020,4,14,12:00,14,12.5,0.6,NE,18.5,--,51.9,40,1016.7,--,--,"0/1h, 0/6h,",NaN,"--,"
56275,2020,4,14,13:00,15,13.7,-1.2,NE,20.4,--,46.3,33,1016.4,--,--,"0/1h,",NaN,"--,,"

In [16]:
df['WNDCHILL'].apply(lambda x: type(x))

0          <class 'str'>
1          <class 'str'>
2          <class 'str'>
3          <class 'str'>
4          <class 'str'>
              ...
56271    <class 'float'>
56272    <class 'float'>
56273    <class 'float'>
56274    <class 'float'>
56275    <class 'float'>
Name: WNDCHILL, Length: 56276, dtype: object

In [52]:
df.to_csv('data/weather.csv',index = False)